* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
}

body {
  //font-family: 'Roboto', sans-serif;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 15px;
  display: flex;
  .logo {
    max-width: 315px;
    margin-right: 15px;
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background: #f5f5f5;
      color: #4d4d4d;
      font-size: 12px;
      &>div{
        display: flex;
        align-items: center;
      }
      .phone{
        margin-right: 20px;
        white-space: nowrap;
        b{
          font-size: 24px;
          font-weight: 400;
        }
      }
      a{
        white-space: nowrap;
        font-size: 12px;
        line-height: 18px;
        color: #5A5040;
        text-shadow: none;
        margin-right: 10px;
      }
    }
    .navigation {
      ul {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        //justify-content: space-between;
        li {
          padding: 0;
          display: inline-block;
          border: 1px solid;
          margin: 3px;
          border-radius: 4px;
          transition: 0.3s;
          a {
            text-decoration: none;
            padding: 3px 10px;
            line-height: 30px;
            margin: 4px;
            white-space: nowrap;
          }
          &:hover{
            background-color: green;
            a{
              color: white;
            }
          }
        }
      }
    }
    .search {
      width: 100%;
      position: relative;
      input {
        width: 100%;
        padding: 8px;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 5px;
        outline: none;
        display: block;
        padding-left: 30px;
      }
      &:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f002";
        position: absolute;
        left: 10px;
        top: 8px;
        color: grey;
      }
    }
  }
}

.main {
  display: flex;
  .sidebar {
    max-width: 315px;
    width: 100%;
    margin-right: 10px;
  }
  .content {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;

    section {
      width: 100%;
      &.title {
        h3 {
          font-size: 18px;
          font-weight: 500;
          position: relative;
          padding: 0 0 15px;
          border-bottom: 1px solid #ebebeb;
          margin-top: 0;
          margin-left: 10px;
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70px;
            height: 3px;
            background-color: #e23e1d;
          }
        }
      }
      &.body {

      }
    }
  }
}

.menu {
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
  background-color: rgb(254, 254, 254);
  border-radius: 4px;
  h3 {
    margin: 0;
    padding: 10px 15px;
    background: #303030;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
    i {
      font-size: 16px;
      margin-right: 10px;
    }
    &:hover{
      color: orangered;
    }
  }
  .content {
    //padding: 5px;
  }
  ul {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    li {
      padding: 0;
      display: block;
      width: 100%;
      display: block;
      padding: 7px;
      font-size: 14px;
      transition: 0.3s;
      i {
        margin-right: 3px;
        color: #4d4d4d;
      }
      a {
        text-decoration: none;
        color: #191919;
      }
      &:hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  .item {
    //max-width: 418px;
    /* max-width: 30%; */
    min-width: 160px;
    width: calc(25% - 10px);
    //max-width: 300px;
    //width: 100%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
    position: relative;
    &:hover{
      border: 1px solid black;
      box-shadow: 0 0 15px rgb(180,180,180);
    }
    .title {
      h3 {
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        a {
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          color: rgb(25,25,25);
        }
      }
    }
    .images {
      height: 250px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      span.price {
        color: #e23e1d;
        font-size: 16px;
        font-weight: 500;
      }
      a {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
      }
    }
  }
}

.widgets{
  .widget{
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    .title{
      h3{
        margin: 8px 5px;
        a{
          text-transform: capitalize;
          text-decoration: none;
          color: #6c6c6c;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 30px;
        }
      }
    }
    .content{
      padding: 0;
      height: 200px;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#menu{
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
}
input#menu:checked ~ ul{
  display: block!important;
}

@media screen and (max-width: 1200px) {
  header .content .contacts{
    flex-direction: column;
  }
  header .logo{
    max-width: inherit;
    width: inherit;
  }
  .main{
    flex-direction: column;
    .sidebar{
      max-width: 100%;
      .menu{
        ul{
          display: flex;
          flex-wrap: wrap;
          li{
            max-width: 200px;
          }
        }
      }
      .widgets{
        display: flex;
        flex-wrap: wrap;
        .widget{
          max-width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header .content .navigation ul{
    flex-wrap: wrap;
  }
  header .content .contacts>div{
    flex-direction: column;
  }
  .logo{
    display: none;
  }
  .body .item{
    width: calc(50% - 10px);
  }

  .main .sidebar {
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      ul {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .body .item{
    width: calc(100% - 10px);
  }
  .main .sidebar .widgets .widget{
    max-width: 100%;
  }
}